/* Mengatur font dasar untuk seluruh halaman */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Gaya untuk kontainer utama */
.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

/* Gaya untuk judul halaman */
.title {
    text-align: center;
    color: #001f3f; /* Biru Tua */
    margin-bottom: 20px;
}

/* Gaya untuk tabel antrian */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #001f3f; /* Biru Tua */
    color: #ffffff; /* Putih */
}

tr:nth-child(even) {
    background-color: #f0f0f0; /* Abu-abu Terang */
}

/* Gaya untuk tombol */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #dc143c; /* Merah */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ffd700; /* Kuning Emas */
    color: #001f3f; /* Biru Tua */
}
